@import url('https://fonts.googleapis.com/css2?family=Arya:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arya&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.active {
    color: #CFA456;
}

/* Navbar */
.navbar {
    background-image: url('/Navbarimg.png');
    background-repeat: no-repeat;
}


/* Home Section */
.hero-bg {
    background-image: url('/Home-Images/HeroBg.png');
    background-repeat: no-repeat;
}

.story-bg {
    background-image: url('/Home-Images/wine-barrel.jpg');
    background-repeat: no-repeat;
}

.brands-bg {
    background-image: url('/Home-Images/Rectangle59.png');
    background-repeat: no-repeat;
}

.infrastructure-bg {
    background-image: url('/Home-Images/Infrastructure-bg-cp.png');
    background-repeat: no-repeat;
}

.White-bg {
    background-image: url('/Home-Images/white.png');
    background-repeat: no-repeat;
}

.footer-bg {
    background-image: url('/footer.png');
    background-repeat: no-repeat;
}